@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;600&display=swap');
</style>

*{
    font-style: normal;
    box-sizing: border-box;
    padding: 5px;
}
header{
    display: flex;
    background-color: yellow;
    
}
header img{
    height: 40px;
          }
header h1{
    color: green;
    font-size: medium;
    font-weight: 100;
      }
header ul{
        padding: 10px;
        
        }
header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid purple;
    float: right;
            }
ul li a:hover{
             background-color: blueviolet;
             }
.title{
    text-align: center;
    height: 200px;
    background-color: green;
}            
.title h2{
   font-size: 60px;
    color: #10c1af;
}
.title p{
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
}
.bible{
    color: white;
    font-family: sans-serif;
    height: 200px; 
    background-color: yellow;
}
.bible h3{
    font-size: 16px;
}
.bible p{
    font-size: 14px;
}
.welcome{
    padding: 0px;

}
.welcome h4{
    color: #10c1af;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.welcome h3{
    font-weight: 700;
    font-size: 28px;
}