@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@100;600&display=swap');
<link href= "https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Playfair+Display&family=Work+Sans:wght@100;600&display=swap" rel="stylesheet">

*{
    font-style:normal;
}

header{
    display: flex; 
}
header img{
    height: 25px;
    
          }
header h1{
    color:green;
    font-size: large;
    font-weight: 100;
      }
header ul{
    padding: 10px;
    margin-left: 19%;
        }
header ul li{
    display: inline-block;
   font-family: 'Roboto Slab',sans-serif;
}
header ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid black;
            }
ul li a:hover{
             background-color: blueviolet;
             }
.title{
    text-align: center;
    height: 500px;
    background-image: url('../images/church_n.jpg');
    background-size: cover;
    background-color: green;
}            
.title h2{
   font-size: 60px;
    color: rgb(131, 131, 241);
    font-family: 'Zen Loop',sans-serif;
}
.title p{
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
}
.bible{
    color: white;
    font-family:'Roboto Slab',sans-serif;
    height: 200px; 
    background-color:rgb(60, 60, 80)
}
.bible h3{
    font-size: 16px;
}
.bible p{
    font-size: 14px;
}
.bible button{
    color: white;
    background-color: rgb(110, 226, 110);
    padding: 10px 20px;
    display: flex;
    float: right;
    margin: 0% 5%;
}
.welcome{
    padding: 0px;

}
.welcome h4{
    color: #10c1af;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-family:'Grape Nuts',sans-serif;
}
.welcome h3{
    font-weight: 700;
    font-size: 28px;
}